.pagination li {
    display: inline-block;
    padding: 5px;
}

#musicListTable, #statsTable {
    margin-top: 1em;
}

#musicListTable td, #historyTable td, #statsTable td{
    white-space: nowrap;
    border: 1px solid;
    text-align: right;
}

table tr:nth-child(odd) td {
    background-color: #eeeeee;
}

#musicListTable th, #historyTable th, #statsTable th{
    white-space: nowrap;
    border: 1px solid;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
}

#musicListTable .name {
    text-align: left;
}

.LC {
    background-color: yellow !important;
}

.FC {
    background-color: violet !important;
}

.AP {
    background-color: aqua !important;
}

.black {
    background-color: gray !important;
}

th {
    text-align: center;
}

.rubyCol {
    visibility: collapse;
}

#musicListTable .unit {
    text-align: left;
}

#musicListTable .type {
    text-align: center;
}

#musicListTable .levels th {
    width: 60px;
}

.sort.desc:after {
  content:"▼";
}
.sort.asc:after {
  content:"▲";
}

#historyTable .name {
    text-align: left;
}

#historyTable .difficulty {
    text-align: left;
}

