.pagination li {
    display: inline-block;
    padding: 5px;
}

#musicListTable,
#statsTable {
    margin-top: 1em;
}

#musicListTable td,
#historyTable td,
#statsTable td {
    white-space: nowrap;
    border: 1px solid;
    text-align: center;
}

table tr:nth-child(odd) td {
    background-color: #eeeeee;
}

#musicListTable th,
#historyTable th,
#statsTable th {
    white-space: nowrap;
    border: 1px solid;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
}

.LC {
    background-color: yellow !important;
}

.FC {
    background-color: violet !important;
}

.AP {
    background-color: aqua !important;
}

.black {
    background-color: gray !important;
}

.rubyCol {
    visibility: collapse;
}

#musicListTable .levels th {
    width: 60px;
}

#musicListTable .name,
#musicListTable .lyrics,
#musicListTable .composer,
#musicListTable .arrangement,
#musicListTable .unit {
    text-align: left;
}

#musicListTable .id {
    text-align: right;
}

.sort.desc:after {
    content: "▼";
}

.sort.asc:after {
    content: "▲";
}

#historyTable .name,
#historyTable .difficulty {
    text-align: left;
}

.ruby,
.rubyHeader
.rubyLyrics,
.rubyComposer,
.rubyArrangement {
    visibility: hidden;
    border: none !important;
}

#searchBox {
    margin-top: 1em;
}